
.idea/

__pycache__/

.pytest_cache

*.egg-info/

external/bioptim

examples/*.pkl
examples/*.c3d
examples/*.csv

**/cycling/plot/
**/cycling/result/

*.pkl

docs/sphinx/_build/
docs/sphinx/api/generated/
docs/sphinx/_generated/
