
.idea/

__pycache__/

.pytest_cache

*.egg-info/

external/bioptim

example/*.pkl
example/*.c3d
example/*.csv
**/cycling/plot/
**/cycling/result/

*.pkl

docs/sphinx/_build/
docs/sphinx/api/generated/
docs/sphinx/_generated/
