
.idea/

__pycache__/

.pytest_cache

*.egg-info/

external/bioptim

**/cycling/plot/
**/cycling/result/

*.pkl
*.csv
*.c3d
*.xlsx
*.cxp

examples/identification/comparision/model

docs/sphinx/_build/
docs/sphinx/api/generated/
docs/sphinx/_generated/


